* {
  box-sizing: border-box;
}

body {
  background: #ece9e6;
  background: --webkit-linear-gradient(to right, #ffffff, #ece9e6);
  background: linear-gradient(to right, #ffffff, ECE9E6);
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.mobile_container {
  background-color: white;
  width: 400px;
  box-shadow: 0 10px 2px #3333331a;
  border-radius: 3px;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header input {
  background-color: whitesmoke;
  border: none;
  border-radius: 3px;
  font-family: inherit;
  padding: 0.5rem 3rem;
}

header button {
  background-color: transparent;
  color: #aaa;
  border: none;
  font-size: 1.4rem;
  margin-left: 10px;
}

.fav-container {
  background-color: rgb(255, 242, 255);
  padding: 0.5rem 1rem;
  text-align: center;
}

.fav-meals {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.fav-meals li {
  position: relative;
  margin: 5px;
  width: 85px;
  cursor: pointer;
}

.fav-meals li:hover .clear {
  opacity: 1;
}

.fav-meals li .clear {
  background-color: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  font-size: 0.9rem;
  top: 0;
  left: 0;
}

.fav-meals li img {
  border: 2px solid #fff;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.fav-meals li span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
  font-size: 0.9rem;
}

.meal {
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 3px;
  margin: 1.5rem;
  overflow: hidden;
}

.meal-header {
  position: relative;
}

.meal-header .random {
  position: absolute;
  background-color: white;
  top: 1rem;
  padding: 0.25rem 1rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meal-header img {
  object-fit: cover;
  cursor: pointer;
  height: 250px;
  width: 100%;
}

.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal-body h4 {
  margin: 0;
}

.meal-body .fav-btn,
.reload-btn {
  border: none;
  background-color: transparent;
  color: rgb(197, 188, 188);

  cursor: pointer;
  font-size: 1rem;
}

.meal-body .fav-btn .active {
  color: rebeccapurple;
}

.meal-body .fav-btn.active {
  color: rebeccapurple;
}

.popup-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#overlay {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.popup-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.popup {
  background-color: white;
  width: 100%;
  max-width: 600px;
  max-height: 100vh;
  overflow: auto;
  padding: 0.9rem;
  position: relative;
  border-radius: 5px;
}

.popup p {
  color: red;
}

.meal-info h1 {
  text-align: center;
}

.popup .close-popup {
  background-color: transparent;
  top: 1rem;
  right: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  position: absolute;
  border: none;
  border: none;
}
