* {
    box-sizing: border-box;
    font-family: Graphik, sans-serif !important;
    font-family: Averta, sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    font-size: 18px;
    /* color: #1b1a20; */
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 253, 245);
    position: relative;
}

.sect1_left img,
.sect1_right img,
.sect2_flex img,
.sect3_flex .right img {
    mix-blend-mode: darken;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    background: rgb(255, 253, 245);
    z-index: 1000;
    padding: 36px 40px;
    padding-top: 25px;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

header .header_img img {
    width: 308px;
    width: 15rem;
}

header ul {
    list-style-type: none;
    margin-left: auto;
    display: flex;
    align-items: center;
    color: #585857;
}

header ul li {
    font-size: 18px;
    margin-right: 2rem;
    align-self: center;
}

header ul li:nth-child(4) {
    margin-right: 2.6rem;
}

header ul li:last-child {
    margin-right: 0rem;
    display: flex;
    align-items: center;
    margin-top: -0.5rem;
    /* background-color: red; */
}

.thumbs {
    width: 75px;
    background-color: #e7332b;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    margin-left: -25px;
    margin-top: -27px;
}

.enroll {
    background-color: #e7332b;
    font-size: .7rem;
    padding: 13px 32px;
    border-radius: 30px;
    color: white;
    margin-top: 1rem;
    margin-left: 1.3rem;
}

.sect1 {
    display: flex;
    width: 90%;
    padding-top: 179px;
    padding-top: 200px;
    margin: auto;
    max-width: 1300px;
}

.sect1 .sect1_left {
    max-width: 25%;
    padding: 0 16px;
}

.sect1 .sect1_right {
    max-width: 25%;
    padding-left: 16px;
}


.sect1 .sect1_left img {
    width: 125%;
}

.sect1 .sect1_right img {
    width: 110%;
}

.sect1_middle {
    max-width: 50%;
    padding-left: 16px;
    text-align: center;
    position: relative;
}

.sect1_middle .content p {
    font-size: 18px;
    color: #e7332b;
}

.sect1_middle h2 {
    font-size: 49px;
    font-weight: 700;
    padding-top: 10px;
}


.sect1_middle .sect_line_cont {
    display: flex;
    justify-content: right;
    margin-left: -20px;
    margin-right: 50px;
    margin-bottom: 28px;
}

.sect1_middle .sect_line_cont img {
    width: 33%;
}

.sect1_middle p {
    color: #1b1a20;
    padding-bottom: 40px;
}

.sect1_middle button {
    background: #e7332b;
    border-radius: 79px;
    color: white;
    padding: 10px 32px;
    border: none;
}

.sect1_middle .sect1_wire_cont {
    display: flex;
    margin: auto;
    justify-content: flex-end;
    width: 40%;
}

.sect1_middle .sect1_wire_cont img {
    width: 35%;
}

.maleface {
    position: absolute;
    width: 54px;
    margin-left: -250px;
    margin-top: -141px;
}

.sect2 {
    width: 90%;
    padding-top: 49px;
    max-width: 1400px;
    margin: auto;
}

.sect2_flex {
    display: flex;
    align-items: center;
}

.sect2_flex img {
    width: 200px;
}

.sect2_flex div {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    width: 33.3%;
}

.sect2_flex div:nth-child(2) {
    text-align: center;
}

.sect3 {
    width: 90%;
    /* padding-top: 49px; */
    max-width: 1400px;
    margin: auto;
}

.sect3_flex {
    display: flex;
    padding: 2rem 0;
    width: 100%;
}

.sect3_flex .left {
    /* flex: 6; */
    /* flex-grow: 0; */
    max-width: 60%;
}

.sect3_flex .right {
    /* flex: 4; */
    /* flex-grow: 0; */
    /* width: 40%; */
    max-width: 34%;
    margin-top: 6rem;
    display: flex;
    justify-content: right;
}

.sect3_wire_cont {
    display: flex;
    justify-content: center;
}

.sect3_wire_cont img {
    width: 15%;
}

.sect3_wire_cont+div>p:nth-child(1) {
    color: #e7332b;
}

.sect3_wire_cont+div>h2 {
    font-size: 40px;
    font-weight: 700;
    margin-top: .4rem;
}

.sect3_flex .right img {
    width: 65%;
}

.sect4 {
    /* background: linear-gradient(180deg, rgba(255, 244, 240, 0), #fff4f0 17.19%, #fff4f0 84.37%, rgba(255, 244, 240, 0)) !important; */
    padding-top: 2rem;
}

.sect4_flex {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sect4_card {
    max-width: 31%;
    height: 400px;
    margin-top: 1.3rem;
    margin-left: 1.3rem;
    border-radius: 25px;
    box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
    background-color: #fff;
    padding: 58px 48px 93px 50px !important;
    position: relative;
    transition: all .4s;
    flex-grow: 1;
}

.curve_card1 {
    background-color: #e7332b;
    color: #fff !important;
}

.curve_card1 p {
    color: #fff !important;
    font-weight: 700;
}

.sect4_card:hover {
    transform: translateY(-.6rem);
}

.sect4_card:nth-child(1),
.sect4_card:nth-child(4) {
    margin-left: 0;
}

.sect4_card:nth-child(3),
.sect4_card:nth-child(6) {
    margin-right: 0;
}

.sect4_card img {
    width: 32%;
    position: absolute;
    right: 0px;
    top: 0px;
}

.sect4_card img+p {
    font-size: 3rem;
    font-weight: 700;
}

.sect4_card img+p+p {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    font-size: 2rem;
    font-weight: 500;
    color: #1b1a20;
    line-height: 2.5rem;
    font-weight: 500;
}

.sect5 {
    margin-top: 8rem;
    background: #e7332b;
}

.sect5_flex_cont {
    display: flex;
    width: 90%;
    margin: auto;
    padding-top: 2rem;
}

.sect5_left {
    width: 40%;
    padding-left: 1.4rem;
    padding-top: 1.4rem;
    color: #fff;
    background: #e7332b;
}

.sect5_left p:nth-child(4) {
    width: auto !important;
}

.sect5_right {
    width: 60%;
    background: #e7332b;
}

.sect5_right div,
.sect5_right div img {
    width: 100%;
}

.sect5_left_img {
    display: flex;
    justify-content: right;
    margin-right: 3rem;
}

.sect5_left_img img {
    width: 23%;
}

.sect5_btn {
    border: none;
    padding: 10px 32px;
    border-radius: 1000px;
    margin: 1.6rem 0px;
    background: #fff;
    color: #e7332b;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}

.sect5_perks_flex_cont {
    display: flex;
    flex-wrap: wrap;
}

.sect5_perks_flex_cont .perk_cont {
    width: 45%;
    display: flex;
    align-items: center;
    background: #e7332b;
    margin-top: 1.2rem;
    margin-left: 1.2rem;
    padding: .6rem;
    border-radius: 3rem;
    border: 2px solid #fff;
    color: #fff;
}

.sect5_perks_flex_cont .perk_cont:nth-child(1),
.sect5_perks_flex_cont .perk_cont:nth-child(3) {
    margin-left: 0;
}

.sect5_perks_flex_cont .perk_cont img {
    width: 23%;
    margin-left: .2rem;
}

.sect5_perks_flex_cont .perk_cont span {
    margin-left: .65rem;
    font-size: 1.1rem;
}

.sect5_last_div img {
    width: 10%;
    padding: 2.3rem;
    box-sizing: content-box;
}

.sect6 {
    width: 90%;
    margin: auto;
    padding-top: 4.2rem;
}

.sect6_cont1 {
    width: 60%;
}

.sect6_cont1 p {
    font-size: 1.5rem;
    color: #e7332b;
}

.sect6_cont1 h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.8rem;
}

.sect6_img_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -12px;
}

.sect6_img_cont img {
    width: 13%;
}

.sect6_flex_cont {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1rem;
}

.sect6_card_cont {
    min-width: 30%;
    width: 30%;
    flex-grow: 1;
    max-width: 33.3%;
    padding: 2.4rem;
    background: #fff;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    border-radius: 40px;
    box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
    color: #1b1a20;
}

.sect6_card_cont h3 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 1.25rem;
}

.sect6_langs {
    display: flex;
    flex-wrap: wrap;
}

.sect6_langs img {
    width: 2.9rem;
    padding-right: .8rem;
}

.sect6_langs+p {
    font-size: 1rem;
    margin: 1.8rem 0 0rem 0;
}

.sect6_cont2 {
    display: flex;
    justify-content: center;
    margin-top: 85px;
    margin-bottom: 70px;
}

.sect6_cont2_btn {
    border: none;
    padding: 12px 32px;
    border-radius: 1000px;
    font-size: 1.2rem;
    color: #fff;
    background: #e7332b;
}

.sect7 {
    width: 90%;
    margin: auto;
    padding-top: 2.7rem;
}

.sect7_wire_cont {
    margin-left: 10%;
    margin-top: 10px;
}

.sect7_wire_cont img {
    width: 13%;
}

.sect7_wire_cont+div {
    margin-top: -40px;
    text-align: center;
}

.sect7_wire_cont+div p {
    font-size: 1.5rem;
    color: #e7332b;
}

.sect7_wire_cont+div h2 {
    font-size: 2.5rem;
    color: #1b1a20;
    margin-bottom: 5rem;
    font-weight: 600;
}

.sect7_section {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(71, 44, 111, .43) !important;
    padding: 1.25rem;
    padding-bottom: 1rem;
    width: 85%;
    margin: auto;
}

.sect7_section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: .5rem;
    font-size: 18px;
    cursor: pointer;
}

.sect7_section1 p {
    font-weight: 600 !important;
}

.sect7_section1 span {
    font-size: 30px;
    cursor: pointer;
}

.sect7_section2 {
    /* visibility: hidden; */
    height: 0px;
    overflow: hidden;
    transition: all .4s;
}

.sect7_section2 p {
    font-size: 14px;
}

.sect7_more {
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
    align-items: center;
}

.sect7_more p {
    padding-bottom: 7px;
    padding-right: 10px;
}

.sect7_more button {
    border-radius: 80px;
    border: none;
    color: #fff;
    background-color: #e7332b;
}

.sect7_more a {
    display: flex;
    padding: 10px 32px !important;
    align-items: center;
}

.sect7_more a svg {
    /* width: 1rem; */
    width: 30px;
    height: 30px;
    fill: #fff;
}

.sect8 {
    width: 95%;
    margin: auto;
    padding-top: 3rem;
}

.sect8_sect7img_cont {
    margin-left: 10%;
}

.sect8_sect7img_cont img {
    width: 13%;
}

.sect8_star1img_cont {
    display: flex;
    justify-content: flex-end;
    margin-top: -4rem;
}

.sect8_star1img_cont img {
    width: 12%;
}

.sect8_sect1 {
    text-align: center;
}

.sect8_sect1 p:first-child {
    color: #e7332b;
    font-size: 1.5rem;
    margin-top: -2rem;
}

.sect8_sect1 h2 {
    color: #1b1a20;
    font-size: 2.5rem;
    padding-bottom: 1.25rem;
}

.sect8_cont {
    display: flex;
    width: 100%;
    margin: auto;
    position: relative;
}

.sect8_icon {
    position: absolute;
    left: -138px;
}

.sect8_flex_cont {
    display: flex;
    position: relative;
    width: 90%;
    margin: auto;
}

.sect8_left,
.sect8_right {
    background: #1b1a20;
    color: #fff !important;
    padding: 4rem 3.5rem;
    min-height: 740px;
    margin-top: 40px;
    margin-right: 40px;
    width: 50%;
    border-radius: 50px;
    z-index: 3;
}

.sect8_left h3,
.sect8_right h3 {
    font-size: 2.25rem;
    padding-bottom: 1rem;
    font-weight: 600;
    margin-left: -1rem;
}

.sect8_left h3+p,
.sect8_right h3+p {
    padding-bottom: .65rem;
    margin-left: -1rem;
}

.sect8_left h4,
.sect8_right h4 {
    font-weight: 900;
    padding: .6rem 0;
    font-size: 18px;
    margin-left: -1rem;
}

.sect8_right ul {
    padding: .3rem 0;
}

.sect8_left ul li,
.sect8_right ul li {
    padding: .2rem 0;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.sect8_left ul li span,
.sect8_right ul li span {
    background-color: #e7332b;
    color: #fff;
    width: 16px;
    height: 16px;
    font-size: .7rem;
    border-radius: 50%;
    margin-left: .5rem;
    display: flex;
    font-family: monospace !important;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.sect8_left ul span,
.sect8_right ul span {
    display: block;
    padding: .2rem 0;
    font-size: 16px;
}

.sect8_circle {
    display: flex;
    justify-content: flex-end;
    margin-top: -4.3rem;
    margin-right: -1rem;
}

.sect8_circle img {
    width: 16%;
    /* float: right; */
}

.sect9 {
    width: 90%;
    margin: 3.5rem auto;
    /* height: 500px; */
}

.sect9_circle_cont img {
    display: flex;
    margin-bottom: 1.4rem;
    width: 10%;
}

.sect9_sect1 {
    background-color: #e7332b;
    border-radius: 28px;
}

.sect9_sect1 .round {
    position: absolute;
    width: 10%;
    left: 14%;
    margin-top: 3rem;
}

.sect9_sect1 .bend {
    position: absolute;
    right: 5%;
    width: 11%;
}

.sect9_main {
    text-align: center;
    color: #fff;
}

.sect9_main p {
    font-size: 1rem;
    padding-top: 4.5rem;
}

.sect9_main h2 {
    font-size: 3.3rem;
    font-weight: 700;
    width: 50%;
    padding-top: 1rem;
    margin: auto;
}

.sect9_main button {
    margin-top: 1.6rem;
    border-radius: 79px;
    padding: 12px 35px;
    border: none;
    background-color: #fff;
    color: #e7332b;
}

.sect9_main_flex {
    display: flex;
}

.sect9_main_flex_left {
    display: flex;
}

.sect9_main_flex_left img {
    width: 100%;
}

.sect9_main_flex_right {
    width: 120%;
    display: flex;
    justify-content: end;
}

.sect9_main_flex_right img {
    width: 13%;
}

.sect10 {
    width: 90%;
    margin: auto;
}

.sect10_sect1 {
    display: flex;
    justify-content: space-between;
}

.sect10_sect1 a img {
    padding-left: .45rem;
}

.sect10_sect2 {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
}

.sect10_sect2 p {
    font-size: 16px !important;
    color: #1b1a20;
}


.sect10_sect2_right {
    display: flex;
    text-align: right;
}

.sect10_sect2_right div {
    margin-right: .9rem;
    font-size: 16px;
}


.sect10_sect2 hr {
    display: none;
}


@media (max-width:1110px) {
    .sect1 {
        flex-direction: column;
        align-items: center;
        width: auto;
        padding-top: 70px;
    }

    .sect1 .sect1_left {
        display: flex;
        justify-content: center;
        max-width: 100%;
    }

    .sect1 .sect1_left img {
        width: 75%;
    }

    .sect1_middle {
        width: 90%;
        max-width: 97%;
        margin-top: -2rem;
    }

    .sect1_middle p {
        width: 85%;
        margin: auto;
    }

    .sect1_right {
        display: none;
    }

    .sect2_flex h2,
    .sect2_flex p {
        font-size: 23px !important;
    }


    .sect3_wire_cont+div>h2 {
        font-size: 30px;
        line-height: 2rem;
    }


    .sect3_flex .right {
        margin-top: 3rem;
    }

    .sect2_flex {}

    .sect4_card {
        max-width: 45%;
        margin: .7rem !important;
    }

    .sect5_flex_cont {
        flex-direction: column;
    }

    .sect5_left,
    .sect5_right {
        width: 100%;
    }

    .sect5_perks_flex_cont .perk_cont {
        width: auto;
        margin: 0;
        margin-right: .7rem;
        margin-bottom: .7rem;
    }

    .sect5_perks_flex_cont {
        margin-bottom: 1rem;
    }

    .sect6_cont1 h2 {
        font-size: 30px;
        margin-bottom: .8rem;
    }

    .sect6_card_cont {
        min-width: 45%;
    }

    .sect6_langs img {
        width: 3.4rem;
    }


    .sect7_wire_cont+div {
        margin-top: -57px;
    }

    .sect7_wire_cont+div h2 {
        font-size: 30px
    }


    .sect8_flex_cont {
        width: 95%;
    }


    .sect9_main h2 {
        font-size: 40px;
    }

    header ul li {
        display: none;
    }

    ul li:last-child {
        display: block;
    }

}

@media (max-width:900px) {
    .sect2_flex {
        flex-direction: column;
    }

    .sect2_flex div {
        width: auto;
    }

    .sect3_flex {
        flex-direction: column;
    }

    .sect3_flex .left {
        max-width: 100%;
    }

    .sect4_flex {
        display: block;
        width: 90%;
    }

    .sect4_card {
        max-width: 95%;
        margin: auto;
        margin-bottom: 1.5rem !important;
    }

    .sect6_card_cont {
        margin-left: 0;
        min-width: 100%;
    }

    .sect8_flex_cont {
        flex-direction: column;
    }

    .sect8_left,
    .sect8_right {
        width: 100%;
    }

}

@media (max-width:520px) {

    header .header_img img {
        width: 65%;
    }


    .thumbs {
        width: 50px;
        margin-top: -16px;
    }

    .enroll {
        padding: 4px 22px;
        margin-top: 1rem;
        margin-left: .3rem;
        width: 6.4rem;
    }


    .sect1_middle h2 {
        font-size: 29px;
    }


    .sect1 .sect1_left img {
        width: 110%;
    }


    .maleface {
        display: none;
    }


    .sect1_middle .sect1_wire_cont {
        width: 85%;
    }

    .sect1_middle .sect1_wire_cont img {
        width: 20%;
    }


    .sect2_flex h2,
    .sect2_flex p {
        text-align: center;
        font-size: 19px !important;
    }


    .sect3_wire_cont+div>h2 {
        font-size: 19px;
        line-height: 1.45rem;
    }


    .sect4_card {
        height: auto;
        padding: 58px 38px 83px 30px !important;
    }

    .sect5_btn {
        /* padding: .6rem; */
        font-size: .7rem;
    }

    .sect7_more {
        flex-direction: column;
    }

    .sect10_sect1 {
        flex-direction: column;
        text-align: center;
    }


    .sect10_sect1_left img:first-child {
        width: 70%;
        margin-bottom: 1rem;
    }


    .sect4_card img+p+p {
        font-size: 1.4rem;
    }


    .sect7_wire_cont+div {
        margin-top: -5px
    }

    .sect8_sect7img_cont img {
        width: 21%;
    }


    .sect8_star1img_cont {
        margin-top: 0rem;
    }


    .sect1_middle .sect_line_cont {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin: 14px 0;
    }



    .sect5_perks_flex_cont .perk_cont {
        padding: .4rem;
        margin-right: .4rem;
    }

    .sect5_perks_flex_cont .perk_cont img {
        width: 13%;
    }


    .sect5_perks_flex_cont .perk_cont span {
        font-size: .5rem;
    }



    .sect6_cont1 {
        width: auto;
    }

    .sect6_img_cont img {
        width: 20%;
    }


    .sect6_cont1 h2 {
        font-size: 22px;
        line-height: 1.8rem;
    }


    .sect6_langs+p {
        font-size: .8rem;
        line-height: 1.3rem;
    }


    .sect6_langs img {
        width: 2.8rem;
        padding-bottom: .9rem;
    }

    .sect7_section2 p {
        font-size: .88rem;
        line-height: 1.3rem;
    }


    .sect9_main h2 {
        font-size: 1.6rem;
    }


    .sect9_main_flex {
        justify-content: space-between;
    }


    .sect9_main_flex_right {
        justify-content: flex-end;
    }

    .sect10_sect1_left {
        display: flex;
        justify-content: center;
    }

    .sect10_sect2 {
        flex-direction: column-reverse;
        text-align: center;
    }

    .sect10_sect2_right {
        flex-direction: column-reverse;
        /* margin-bottom: .7rem; */
        align-items: center;
    }

    .sect10_sect2_right div {
        margin-bottom: 1rem;
    }


    .sect10_sect2 hr {
        display: block;
    }

    .sect10_sect2 p {
        margin-top: .9rem;
    }

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    z-index: 2000;
}

.overlay .card {
    position: fixed;
    top: 30%;
    background-color: #fff;
    padding: 1.2rem;
    padding-top: .7rem;
    border-radius: 10px;
    z-index: 3000;
    width: 50%;
    left: 25%;

}

.card_sect1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_sect1 h2 {
    font-size: 1.2rem;
    color: #585857;
}


.card_sect1 .cancel {
    font-size: 50px;
    cursor: pointer;
}

.card_body p {
    font-size: .8rem;
    color: #585857;
}

.card_flex {
    margin-top: 1.7rem;
    color: #585857;
}

.card_flex.info {
    margin-top: 0;
}

.card_flex a {
    font-size: .7rem;
    text-decoration: underline;
}


@media (max-width: 400px) {
    .overlay ._card {
        width: 80%;
        left: 10%;
    }

    .btn,
    button {
        width: auto;
    }

}