* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    letter-spacing: 0.00938em;
    font-family: 'Graphik';
    position: relative;
    height: 99.9%;
}


.red {
    color: #e7332b;
}

header {
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 100;
    min-height: 64px;
    background-color: #fff;
    padding: 1rem 0 1.5rem 0;
}

.header {
    width: 84%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_right {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.header_right ul {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header_right ul li {
    padding-bottom: .9rem;
    padding: 0 .3rem 1rem .3rem;
    margin-top: .9rem;
    margin-left: 3.25rem;
    font-size: 1.15rem;
}

.active {
    border-bottom: 3px solid #e7332b;
}

/* .header_right ul li:first-child {
} */

.header_right button {
    padding: 11px 35px;
    margin-left: 3rem;
    border: none;
    border-bottom-right-radius: 10px;
    background: #e7332b;
    color: #fff;
    font-size: 1rem;
}

.sect1 {
    width: 85%;
    margin: auto;
    padding-top: 14rem;
}

.sect1_flex {
    display: flex;
    /* overflow: hidden; */
}

.sect1_left {
    max-width: 50%;
    display: flex;
    align-items: center;
}

.sect1_right {
    max-width: 50%;
    position: relative;
}

.sect1_right_img {
    display: flex;
    width: 100%;
    justify-content: end;
}

.sect1_right img {
    width: 70%;
}

.sect1_right_line {
    position: absolute;
    margin-top: -157px;
    margin-right: -86px;
    right: 0;
    z-index: -1;
}

.sect1_right_line img {
    width: 138px;
}

.sect1_cont1 {
    width: 100%;
}

.sect1_cont1 p:first-child {
    font-size: 2.7rem;
    font-weight: 600;
}

.sect1_img_line {
    margin-left: 456px;
    margin-top: -27px;
}

.sect1_img_line img {
    width: 100px;
}

.sect1_cont1 p:nth-child(3) {
    line-height: 22px;
    color: #787878;
    font-size: 1.2rem;
    padding-top: 1rem;
    width: 70%;
}

.sect1_btn_flex {
    padding-top: 2rem;
}

.sect1_btn_flex button {
    padding: .7rem 3.3rem;
    border: none;
    margin-right: 1rem;
    border-bottom-right-radius: 10px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    color: white;
}

.sect2 {
    background-image: url('./img/bgsection.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 6rem;
    padding-top: 5rem;
    padding-bottom: 9rem;
}

.sect2_sect1 {
    display: flex;
    width: 85%;
    margin: auto;
    align-items: center;
}

.sect2_sect1_left {
    width: 50%;
}

.sect2_sect1_left p:first-child {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
}

.sect2_sect1_left p:first-child+p {
    padding-top: 10px;
    color: #161617;
    font-size: 19px;
    font-weight: 600;
}

.sect2_sect1_left p:first-child+p+p {
    color: #787878;
    font-size: 19px;
    padding-top: 10px;
}

.sect2_sect1_countries {
    display: flex;
    padding-top: 1.2rem;
}

.sect2_sect1_country {
    background-color: #fff;
    padding: .6rem;
    border-radius: 10px;
    margin-right: .6rem;
    width: 4rem;
    display: flex;
}

.sect2_sect1_country img {
    width: 75%;
    margin: auto;
}

.sect2_sect1_right {
    width: 50%;
}


.sect2_sect1_img {
    display: flex;
    justify-content: end;
}

.sect2_sect1_img img {
    width: 70%;
}

.sect3 {
    padding: 6.25rem 0;
    width: 85%;
    margin: auto;
}

.sect3_sect1 {
    display: flex;
    width: 40%;
    justify-content: start;
}

.sect3_sect1 p {
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 1.8rem;
}

.sect3_skills,
.sect3_talents {
    display: flex;
    flex-wrap: wrap;
}

.sect3_skill,
.sect3_talent {
    display: flex;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
}

.sect3_skill p,
.sect3_talent p {
    padding: 1rem 2.9rem;
    box-shadow: 0 8px 30px hsla(0, 0%, 48%, .16) !important;
    color: #787878;
    font-size: 1.25rem;
    margin-bottom: 1.9rem;
}

.sect3_talent_work p {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 1.8rem 0;
}

.sect3_sect2 {
    position: relative;
}

.sect3_sect2_img {
    position: absolute;
    right: -46px;
    margin-top: -137px;
}

.sect3_sect2_img img {
    width: 340px;
}

.sect4 {
    background: rgb(255, 248, 229);
    padding-bottom: 80px;
}

.sect4_cont {
    width: 85%;
    margin: auto;
}

.sect4_cont p:first-child {
    padding-top: 6.5rem;
    font-weight: 600;
    text-align: center;
    font-size: 2.5rem;
}

.sect4_cont_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 4rem;
}


.sect4_cont_card {
    width: 30%;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    padding: 3.5rem 1rem;
    background: #fff;
    border-radius: 0 0 16px 0;
    z-index: 2;
    transition: all .5s;
}

.sect4_cont_card:hover {
    background-color: #161617;
}

.sect4_cont_card:hover p {
    color: #fff !important;
}

.sect4_cont_card img {
    width: 78px;
}

.sect4_cont_card p {
    padding-top: 1rem;
    color: #787878;
    width: 85%;
    margin: auto;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.sect4_rel {
    position: relative;
    z-index: 2;

}

.sect4_cont_img {
    position: absolute;
    bottom: -182px;
    left: -174px;
}

.sect4_cont_img img {
    width: 120%;
    z-index: 1;
}

footer {
    padding-top: 5rem;
    background-color: rgb(22, 22, 23);
}

.footer_sect1 {
    width: 90%;
    margin: auto;
}

.footer_sect1_top {
    display: flex;
    justify-content: space-between;
}

.footer_sect1_right {
    display: flex;
    align-items: center;
}

.footer_sect1_right a img {
    width: 1.9rem;
    height: 1.9rem;
    margin-right: 1rem;
}

.footer_sect2 {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    font-size: 1rem;
}


@media (max-width: 1181px) {
    .sect1_flex {
        flex-direction: column;
    }

    html {
        overflow-x: hidden;
    }

    .sect1_img_line {
        /* display: none; */
    }

    .sect1_right_line img {
        margin-top: -157px;
    }



    .sect1_right_line img {
        width: 70%;
    }

    .sect1_left,
    .sect1_right {
        width: auto;
        max-width: 100%;
        text-align: center;
        margin-bottom: 3rem;
    }

    .sect1_left p {
        margin: auto;
    }

    .sect1_right_img {
        justify-content: center;
    }

    .sect1_right {
        margin-bottom: 0;
    }

    .sect4_cont_flex {
        justify-content: center;
        width: 100%;
        margin: auto;
    }

    .sect4_cont_card {
        width: 40%;
        max-width: 100%;
        flex-grow: 1;
    }

}

@media (max-width:900px) {

    html {
        overflow-x: auto;
    }

    .sect1_right_line {
        display: none;
    }

    /* Hedear */

    header .header_right ul {
        display: none;
    }

    .sect2 {
        padding-bottom: 6rem;
    }

    .sect2_sect1 {
        flex-direction: column;
    }


    .sect2_sect1_left,
    .sect2_sect1_right {
        width: 80%;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sect2_sect1_left {
        margin-bottom: 5rem;
    }


    .sect2_sect1_right img {
        width: 80%;
    }

    .sect2_sect1_img {
        justify-content: center;
    }

    /* Section 3 */

    .sect3_sect1,
    .sect3_talent_work p {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .sect3_talent_work p {
        margin-top: 3rem;
    }

    .sect3_sect2_img {
        display: none;
    }

    .sect3_skill,
    .sect3_talent {
        padding-right: 1rem;
    }

    .sect3_skill p,
    .sect3_talent p {
        margin-bottom: -.3rem;
    }

    .overlay .card {
        width: 67vw !important;
        left: 20vw !important;
    }

}

@media (max-width:600px) {

    .sect1_img_line {
        margin-left: auto;
    }

    .sect1_btn_flex {
        flex-direction: column;
        width: 60%;
        margin: auto;
    }

    .sect1_btn_flex button {
        margin-bottom: 1rem;
    }

    .sect2_sect1_country {
        width: auto;
    }

    .sect4_cont_img {
        bottom: -150px;
    }

    .sect4_cont_img img {
        width: auto;
        max-width: 100%;
    }

    .sect4_cont_card {
        width: 100%;
    }

    footer hr {
        display: block !important;
        margin-top: .8rem;
    }

    .footer_sect1_top,
    .footer_sect2 {
        flex-direction: column;
        align-items: center;
    }

    .footer_sect1_top .footer_logo,
    .footer_sect2 p {
        text-align: center;
        margin-bottom: 1rem;
    }

    .overlay .card {
        max-width: 30rem !important;
        left: 17vw !important;
    }


}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    z-index: 2000;
}

.overlay .card {
    position: fixed;
    top: 30%;
    background-color: #fff;
    padding: 1.2rem;
    padding-top: .7rem;
    border-radius: 10px;
    z-index: 3000;
    max-width: 30rem;
    left: 29vw;

}

.card_sect1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_sect1 h2 {
    font-size: 1.2rem;
    color: #585857;
}


.card_sect1 .cancel {
    font-size: 50px;
    cursor: pointer;
}

.card_body p{
    font-size: .8rem;
    color: #585857;
}

.card_flex {
    margin-top: 1.7rem;
    color: #585857;
}

.card_flex.info {
    margin-top: 0;
}

.card_flex a {
    font-size: .7rem;
    text-decoration: underline;
}