div {
  background-color: yellow;
  height: 20px;
  width: 20px;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
}

.block {
  background-color: blue;
}

.block2 {
  background-color: purple;
}
